@charset "utf-8";
/* CSS Document */

body {
	background-color: #1a263a;
}

nav {
	background-color: #cddfff;
	padding: 5px 5px;
}

h1 {
	padding-top: 40px;
	padding-left: 70px;
	color: 	#1a263a;
	font-size: 38pt;
	font-weight: bold;
	font-family: pacifico;
}

h2 {
	padding-left: 90px;
	font-size: 24pt;
	margin: -40px 0 0 0;
	color: 	#1a263a;
	font-family: pacifico;
}

h3 {
	font-size: 18pt;
	color: #1A3C49;
	font-weight: bold;
	letter-spacing: 2px;
	padding: 0 0 0 10px;
}

a:link {
	text-decoration: none;
	color: white;
	font-family: helvetica, sans-serif;
}

a:hover {
	background-color: #E0D4B5;
	display: block;
	
}

a:visited {
	color: white;
}

.center {
	background-color: red;
	margin: 0 200px 0 200px;
}

.image {
	
}	
	
.banner {
	height: 200px;
	background-color: #cddfff;
	background-image: url(images/banner.png);
	background-repeat: no-repeat;
	margin: -20px -20px 0 -20px;
}

.sidebar {
	background-color: #ffdbbb;
	width: 300px;
	margin: 20px 0;
	float: left;
	border: solid;
	border-radius: 10px;
	border-color: #B97F53;
	font-family: helvetica, sans-serif;
}

.content {
	background-color: #ffdbbb;
	margin: 20px 200px 0 520px;
	padding: 20px;
	border: solid;
	border-radius: 10px;
	border-color: #B97F53;
	font-family: helvetica, sans-serif;
}

.contact {
	color: #A1ABAB;
	text-align: left;
	font-size: 10pt;
	padding: 70px 5px 10px 0;
	width: 100%;
}

.bold {
	font-weight: bold;
	padding: inherit;
} 

.signup {
	background-color: #D3B535;
	color: white;
	padding: 10px;
	font-size: 14pt;
	font-weight: bold;
}

.inputfield {
	padding-top: 10px;
	padding-bottom: 10px;
}

.pressednav {
	background-color: #8AA5B3;
	padding: 10px 10px;
	color: white;
}

.announcement {
	background-color: #BAC8C8;
	color: #263557;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 0 20px 0;
}

.formbuttons {
	background-color: #D3B535;
	color: white;
	font-weight: bold;
	margin: 10px 0 10px 0;
	text-align: center;
	width: 250px;
}

.calltoaction {
	background-color: #D3B535;
	color: white;
	font-size: 14pt;
	padding: 10px 5px 10px 5px;
	font-weight: bold;
	text-align: center;
	width: 200px;
	margin: 20px auto;
	left: 50%;
	font-family: pacifico;
}

#accept {
	background-color: #D3B535;
	color: white;
	padding: 10px 5px;
	font-size: 14pt;
	font-weight: bold;
	text-align: center;
	width: 200px;
	margin: 0 auto;
}

#signuppressed {
	background-color: #7C8C94;
	color: white;
	padding: 10px 10px;
	font-size: 14pt;
	font-weight: bold;
}